- if @program.program_version_cluster.present?
  .cluster
    - if mode == 'view'
      = link_to 'part of cluster', program_version_cluster_path(@program.program_version_cluster.id)
    - else
      = 'part of cluster'
    with
    - @program.program_version_cluster.programs.each do |p|
      - unless p.id == @program.id
        - if mode == 'view'
          = link_to p.version, program_path(p.id)
        - else
          = p.version
        - unless p == @program.program_version_cluster.programs.last
          = '/'