.programs-director-fields
  %span.form-group.space-left
    = f.hidden_field :director_id
    - d_id = form_tag_id(f.object_name, :director_id)
    - dl_id = "#{d_id}_link"
    %span{id: dl_id}
      - if f.object.director_id.nil?
        = link_to 'Select director', director_selector_path(dl_id, d_id),  {remote: true, 'data-toggle':  'modal', 'data-target': '#modal-window'}
      - else 
        = f.object.director.name
        %span.caution.space-left
          = link_to_remove_association destroy_icon, f, { wrapper_class: 'programs-director-fields' }