.program
  = program_capsule program
  = link_to "show", program
  = link_to "edit", edit_program_path(program)
  = link_to 'destroy', program_path(program), method: :delete, data: {confirm: "Delete #{program.name}?"}