%h1 Edit Program

= form_with model: @program, url: program_path(@program.id), method: "patch" do |f|
  = f.label :name
  = f.text_field :name
  = f.label :sort_name
  = f.text_field :sort_name
  = f.label :year
  = f.text_field :year
  = f.label :version
  = f.text_field :version
  = f.label :minutes, 'Length'
  = f.text_field :minutes
  #programs_directors
    = f.fields_for :programs_directors do |pd_form|
      = render partial: 'programs_director_fields', locals: {f: pd_form}
    .links
      = link_to_add_association 'Add Director', f, :programs_directors
  #series_programs
    = f.fields_for :series_programs do |sp_form|
      = render partial: 'series_program_fields', locals: {f: sp_form}
    .links
      = link_to_add_association 'Add Series', f, :series_programs
  = f.submit "Edit"

- if @program.errors.any?
  #error_explanation
    %h2
      = pluralize(@program.errors.count, "error") 
      prohibited this program from being saved:
 
    %ul
      - @program.errors.full_messages.each do |msg|
        %li= msg