%h1 New Program

= form_with model: @program do |f|
  = f.label :name
  = f.text_field :name
  = f.label :sort_name
  = f.text_field :sort_name
  = f.label :year
  = f.text_field :year
  #programs_directors
    = f.fields_for :programs_directors do |pd_form|
      = render partial: 'programs_director_fields', locals: {f: pd_form}
    .links
      = link_to_add_association 'Add Director', f, :programs_directors
  = f.label :series_ids
  = f.select :series_ids, @series.collect { |ser| [ser.name, ser.id] }, {}, multiple: true
  = f.label :alternate_titles_ids
  = f.select :alternate_titles_ids, @alternates.collect { |alt| [alt.name, alt.id] }, {include_blank: ''}, multiple: true
  = f.submit "Create"
    

- if @program.errors.any?
  #error_explanation
    %h2
      = pluralize(@program.errors.count, "error") 
      prohibited this program from being saved:
 
    %ul
      - @program.errors.full_messages.each do |msg|
        %li= msg