%h1 New Program

.program
  = form_with model: @program, id: 'form' do |f|
    .program_fields
      .form-group
        = f.text_field :name, autofocus: true
        = f.label :name
      .form-group
        = f.text_field :sort_name
        = f.label :sort_name
      .form-group
        = f.text_field :year
        = f.label :year
      .form-group
        = f.text_field :version
        = f.label :version
      .form-group
        = f.text_field :minutes
        = f.label :minutes, 'Length'
    #program_persons.program_persons
      = f.fields_for :program_persons do |pd_form|
        = render partial: 'program_person_fields', locals: {f: pd_form}
      .links
        = link_to_add_association 'Add Person', f, :program_persons
    #series_programs.series_programs
      = f.fields_for :series_programs do |sp_form|
        = render partial: 'series_program_fields', locals: {f: sp_form}
      .links
        = link_to_add_association 'Add Series', f, :series_programs
    #alternate_titles.alternate_titles
      = f.fields_for :alternate_titles do |at_form|
        = render partial: 'alternate_title_fields', locals: {f: at_form}
      .links
        = link_to_add_association 'Add Alternate Title', f, :alternate_titles
    .controls
      = link_to 'Create', "", {onclick: "$('#form').submit()", class: 'btn btn-primary'}
      = link_to "Cancel", programs_url, {class: 'btn btn-secondary'}

#modal-window.modal.hide{ role: 'dialog', 'aria-labelledby': 'myModalLabel', 'aria-hidden': 'true' }

- if @program.errors.any?
  #error_explanation
    %h2
      = pluralize(@program.errors.count, "error") 
      prohibited this program from being saved:
 
    %ul
      - @program.errors.full_messages.each do |msg|
        %li= msg