%h1 New Program

= form_with model: @program do |f|
  = f.label :name
  = f.text_field :name
  = f.label :sort_name
  = f.text_field :sort_name
  = f.label :year
  = f.text_field :year
  = f.submit "Create"

- if @program.errors.any?
  #error_explanation
    %h2
      = pluralize(@program.errors.count, "error") 
      prohibited this director from being saved:
 
    %ul
      - @program.errors.full_messages.each do |msg|
        %li= msg