%h1 Program

.program
  .titles
    .main_title
      = @program.name
      - unless @program.year.blank?
        = "(#{@program.year})"
    .alternate_titles
      = @program.alternate_titles.map(&:name).join(', ')
  .program_info
    = display_length @program.minutes
    = @program.version
  - if @program.directors.any?
    .directors
      .label
        = 'Director'.pluralize(@program.directors.count)
      .values
        = @program.directors.map(&:name).join(', ')
  - if @program.series.any?
    .series
      .label
        Series
      .values
        = @program.series.map(&:name).join(', ')

.footer-links
  = link_to "Program List", programs_url, {class: 'btn btn-primary'}
  = link_to "Edit", edit_program_path(@program), {class: 'btn btn-secondary'}