%h1 Program

.program
  .titles
    .main_title
      Title
      = @program.name
      Sort Title
      = @program.sort_name
    .alternate_titles
      Alternate Titles
      - @program.alternate_titles.each do |at|
        = at.name
    .program_info
      Year
      = @program.year
      Version
      = @program.version
      Length
      = @program.minutes
  .directors
    Directors
    - @program.directors.each do |dir|
      = dir.name
  .series
    Series
    - @program.series.each do |ser|
      = ser.name

.links
  =link_to "Programs", programs_url