%h1 Program

.program
  .titles
    .main_title
      = @program.name
      - unless @program.year.blank?
        = "(#{@program.year})"
    .alternate_titles
      = @program.alternate_titles.map(&:name).join(', ')
  .program_info
    = display_length @program.minutes
    = @program.version
  - if @program.program_version_cluster.present?
    .cluster
      part of cluster 
      = link_to show_icon, program_version_cluster_path(@program.program_version_cluster.id)
  - if @program.directors.any?
    .directors
      .label
        = 'Director'.pluralize(@program.directors.count)
      .values
        = raw @program.directors.map{|d| "#{d.name} #{link_to show_icon, director_path(d)}"}.join(', ')
  - if @program.series.any?
    .series
      .label
        Series
      .values
        = raw @program.series.map{|s| "#{s.name} #{link_to show_icon, series_path(s)}"}.join(', ')

.footer-links
  = link_to "Program List", programs_url(page: @page, search: @search), {class: 'btn btn-primary'}
  = link_to "Edit", edit_program_path(@program, page: @page, search: @search), {class: 'btn btn-secondary'}