%h1 Edit Director
.director
  = form_with model: @director, url: director_path(@director.id, page: @page, search: @search), method: "patch", id: 'form'  do |f|
    .director_fields
      .form-group
        = f.text_field :name, autofocus: true
        = f.label :name
    #director_aliases.director_aliases
      = f.fields_for :director_aliases do |da_form|
        = render partial: 'director_alias_fields', locals: {f: da_form}
      .links
        = link_to_add_association 'Add Alias', f, :director_aliases
    .controls
      = link_to 'Update', "", {onclick: "$('#form').submit()", class: 'btn btn-primary'}
      = link_to "Cancel", directors_url(page: @page, search: @search), {class: 'btn btn-secondary'}

- if @director.errors.any?
  #error_explanation
    %h2
      = pluralize(@director.errors.count, "error") 
      prohibited this director from being saved:
 
    %ul
      - @director.errors.full_messages.each do |msg|
        %li= msg