%h1 Directors

.utilities
  =link_to 'New Director', new_director_url

.directors
  - sort_directors(@directors).each do |dir|
    .director
      = dir.name
      = link_to "show", dir
      = link_to "edit", edit_director_path(dir)
      = link_to 'destroy', director_path(dir), method: :delete, confirm: "Delete #{dir.name}?"