%h1 Director

.director
  .name
    = @director.name
  .person_aliases
    = @director.person_aliases.map(&:name).join(', ')
  - if @director.programs.any?
    .programs
      .label
        = 'Program'.pluralize(@director.programs.count)
      - @director.programs.map{|p| ProgramsSearch.find(p.id)}.sort_by { |p| p.sort_title }.each do |p|
        .program
          - program_text = program_capsule_short p
          = link_to program_text, program_path(p)

.footer-links
  = link_to "Director List", directors_url(page: @page, search: @search), {class: 'btn btn-primary'}
  = link_to "Edit", edit_director_path(@director, page: @page, search: @search), {class: 'btn btn-secondary'}