= will_paginate alternate_titles

.index-entries
  - alternate_titles.each do |at|
    .index-entry
      .controls
        %span
          = link_to "show", at
        %span
          = link_to "edit", edit_alternate_title_path(at)
        %span.caution
          = link_to 'destroy', alternate_title_path(at), method: :delete, data: {confirm: "Delete #{at.name}?"}
      .index-entry-details
        = "#{at.name} - #{at.program.name}"

= will_paginate alternate_titles