%h1 New Alternate Title

.alternate_title
  = form_with model: @alternate_title do |f|
    .alternate_title_fields
      .form-group
        = f.text_field :name, autofocus: true
        = f.label :name
    .program
      .form-group
        = f.select :program_id, @programs.collect {|p| [p.name, p.id] }, {include_blank: ''}, multiple: false
        = f.label :program_id
    = f.submit "Create"

- if @alternate_title.errors.any?
  #error_explanation
    %h2
      = pluralize(@alternate_title.errors.count, "error") 
      prohibited this alternate title from being saved:
 
    %ul
      - @alternate_title.errors.full_messages.each do |msg|
        %li= msg
