%h1 New Alternate Title

= form_with model: @alternate_title do |f|
  = f.label :name
  = f.text_field :name, autofocus: true
  = f.label :program_id
  = f.select :program_id, @programs.collect {|p| [p.name, p.id] }, {include_blank: ''}, multiple: false
  = f.submit "Create"

- if @alternate_title.errors.any?
  #error_explanation
    %h2
      = pluralize(@alternate_title.errors.count, "error") 
      prohibited this alternate title from being saved:
 
    %ul
      - @alternate_title.errors.full_messages.each do |msg|
        %li= msg
