.disc-package-fields
  %span.form-group.space-left
    = f.hidden_field :package_id
    - s_id = form_tag_id(f.object_name, :package_id)
    - sl_id = "#{s_id}_link"
    %span{id: sl_id}
      - if f.object.package_id.nil?
        = link_to 'Select package', package_selector_path(sl_id, s_id),  {remote: true, 'data-toggle':  'modal', 'data-target': '#modal-window'}
      - else 
        = f.object.package.name
        = link_to 'Change package', package_selector_path(sl_id, s_id),  {remote: true, 'data-toggle':  'modal', 'data-target': '#modal-window'}