.top_pager
  = will_paginate discs

.index-entries
  - discs.each do |disc|
    .index-entry
      .controls
        %span
          = link_to show_icon, disc_path(disc, page: @page, search: @search), title: 'show'
        %span
          = link_to edit_icon, edit_disc_path(disc, page: @page, search: @search), title: 'edit'
        %span
          = link_to destroy_icon, disc_path(disc), method: :delete, title: 'destroy',  class: 'caution', data: {confirm: "Delete #{disc.display_name}?"}
      .index-entry-details
        = disc.display_name
        = "- #{disc.format}"
        = "(#{disc.location.name})"
        
.bottom_pager
  = will_paginate discs