%h1 Edit Disc

.disc
  = form_with model: @disc, url: disc_path(@disc.id, page: @page, search: @search), method: "patch", id: 'form' do |f|
    .disc_fields
      .form-group
        = f.text_field :name
        = f.label :name
      .form-group
        = f.select :format, Disc::FORMATS.collect { |fmt| [fmt, fmt] }, {}, multiple: false
        = f.label :format
      .form-group
        = f.select :state, Disc::STATES.collect { |st| [st, st] }, {}, multiple: false
        = f.label :state
      .form-group
        = f.select :location_id, @locations.collect { |loc| [loc.name, loc.id] }, {}, multiple: false
        = f.label :location_id
        
    #disc_packages.disc_packages
      = f.fields_for :disc_package do |dpkg_form|
        = render partial: 'disc_package_fields', locals: {f: dpkg_form}

    #disc_programs.disc_programs
      = f.fields_for :disc_programs do |dp_form|
        = render partial: 'disc_program_fields', locals: {f: dp_form}
      .links
        = link_to_add_association 'Add Program', f, :disc_programs

    #series_discs.series_discs
      = f.fields_for :series_discs do |ds_form|
        = render partial: 'series_disc_fields', locals: {f: ds_form}
      .links
        = link_to_add_association 'Add Series', f, :series_discs

    .controls
      = link_to 'Update', "", {onclick: "$('#form').submit()", class: 'btn btn-primary'}
      = link_to "Cancel", discs_url(page: @page, search: @search), {class: 'btn btn-secondary'}

#modal-window.modal.hide{ role: 'dialog', 'aria-labelledby': 'myModalLabel', 'aria-hidden': 'true' }

- if @disc.errors.any?
  #error_explanation
    %h2
      = pluralize(@disc.errors.count, "error") 
      prohibited this disc from being saved:
 
    %ul
      - @disc.errors.full_messages.each do |msg|
        %li= msg
