%h1 Discs

.top-controls
  = link_to 'New Disc', new_disc_url, {class: 'btn btn-primary'}

= will_paginate @programs

.index-entries
  - sort_discs(@discs).each do |disc|
    .index-entry
      .controls
        %span
          = link_to 'show', disc
        %span
          = link_to 'edit', edit_disc_path(disc)
        %span.caution
          = link_to 'destroy', disc_path(disc), method: :delete, data: {confirm: "Delete #{display_name(disc)}?"}
      .index-entry-details
        = display_name disc
        
= will_paginate @programs