%h1 Discs

.top-controls
  = link_to 'New Disc', new_disc_url, {class: 'btn btn-primary'}

= will_paginate @discs

.index-entries
  - @discs.each do |disc|
    .index-entry
      .controls
        %span
          = link_to 'show', disc
        %span
          = link_to 'edit', edit_disc_path(disc)
        %span.caution
          = link_to 'destroy', disc_path(disc), method: :delete, data: {confirm: "Delete #{disc.display_name}?"}
      .index-entry-details
        = disc.display_name
        
= will_paginate @discs