%h1 Discs

.top-controls
  = link_to 'New Disc', new_disc_url, {class: 'btn btn-primary'}
  = link_to 'No Location Report', reports_disc_no_location_path, {class: 'btn btn-secondary'}
  = form_tag(discs_path, method: :get, remote: true) do
    = text_field_tag :search, params[:search], placeholder: 'Enter search term'

#paginated-list
  = render partial: 'paginated_discs', locals: {discs: @discs}

#search-results