%h1 Discs

=link_to 'New Disc', new_disc_url

- sort_discs(@discs).each do |disc|
  .disc
    = display_name disc
    = link_to 'show', disc
    = link_to 'edit', edit_disc_path(disc)
    = link_to 'destroy', disc_path(disc), method: :delete, confirm: "Delete #{display_name(disc)}?"
