%h1 New Disc

= form_with model: @disc do |f|
  = f.label :format
  = f.select :format, Disc::FORMATS.collect { |fmt| [fmt, fmt] }, {}, multiple: false
  = f.label :state
  = f.select :state, Disc::STATES.collect { |st| [st, st] }, {}, multiple: false
  = f.label :location_id
  = f.select :location_id, @locations.collect { |loc| [loc.name, loc.id] }, {}, multiple: false
  = f.fields_for :disc_package do |dp_form|
    = dp_form.label :package_id
    = dp_form.select :package_id, @packages.collect { |pkg| [pkg.name, pkg.id] }, {include_blank: ''}, multiple: false

  .disc_programs
  = f.fields_for :disc_programs do |program_form|
    .program
      = program_form.label :program_id
      = program_form.select :program_id, @programs.collect { |prog| ["#{prog.name} (#{prog.year}) #{prog.version}", prog.id] }, {include_blank: ''}, multiple: false
      = program_form.label :program_type
      = program_form.select :program_type, DiscProgram::PROGRAM_TYPES.collect { |pt| [pt, pt] }, {}, multiple: false
      = program_form.label :sequence
      = program_form.number_field :sequence, in: 1..20, step: 1

  = f.submit "Create"

- if @disc.errors.any?
  #error_explanation
    %h2
      = pluralize(@disc.errors.count, "error") 
      prohibited this disc from being saved:
 
    %ul
      - @disc.errors.full_messages.each do |msg|
        %li= msg