%h1 New Disc

= form_with model: @disc do |f|
  = f.label :format
  = f.select :format, Disc::FORMATS.collect { |fmt| [fmt, fmt] }, {}, multiple: false
  = f.label :state
  = f.select :state, Disc::STATES.collect { |st| [st, st] }, {}, multiple: false
  = f.label :location_id
  = f.select :location_id, @locations.collect { |loc| [loc.name, loc.id] }, {include_blank: ''}, multiple: false
  = f.fields_for :disc_package do |dp_form|
    = dp_form.label :package_id
    = dp_form.select :package_id, @packages.collect { |pkg| [pkg.name, pkg.id] }, {include_blank: ''}, multiple: false

  #disc_programs
    = f.fields_for :disc_programs do |dp_form|
      = render partial: 'disc_program_fields', locals: {f: dp_form, programs: @programs}
    .links
      = link_to_add_association 'Add Program', f, :disc_programs

  = f.submit "Create"

- if @disc.errors.any?
  #error_explanation
    %h2
      = pluralize(@disc.errors.count, "error") 
      prohibited this disc from being saved:
 
    %ul
      - @disc.errors.full_messages.each do |msg|
        %li= msg