%h1 No Location Discs

.top-controls
  = link_to 'Disc List', discs_url, {class: 'btn btn-primary'}

#paginated-list
  = will_paginate @discs

  .index-entries
    - @discs.each do |disc|
      .index-entry
        .index-entry-details
          - disc_text = "#{disc.display_name} (#{disc.format})"
          = link_to disc_text, disc_path(disc)
          
  = will_paginate @discs