%h1 Disc

.disc
  .format
    = @disc.format
  .state
    = @disc.state
    = "(#{@disc.location.name})"
  - unless @disc.package.nil?
    = "Part of #{@disc.package.name}"

  .disc_programs
    = 'No Programs Listed' if @disc.disc_programs.empty?
    - @disc.disc_programs.each do |dp|
      .program
        %span.name
          = dp.program.name
        - unless dp.program.version.blank?
          %span.version
            = "(#{dp.program.version})"
        %span.type
          = dp.program_type
.footer-links
  = link_to "Disc List", discs_url, {class: 'btn btn-primary'}
  = link_to "Edit", edit_disc_path(@disc), {class: 'btn btn-secondary'}