%h1 Disc

.disc
  = @disc.format
  = @disc.state
  = @disc.location.name
  = @disc.package.name unless @disc.package.nil?

  .disc_programs
    -@disc.disc_programs.each do |dp|
      .program
        = dp.program.name
        = dp.program.version
        = dp.program_type
.links
  =link_to "Discs", discs_url