%h1 Disc

.disc
  .name
    = disc_display_name @disc
  .format
    = @disc.format
  .state
    = @disc.state
    = "(#{@disc.location.name})"
  - unless @disc.package.nil?
    .package
      - package_text = "Part of #{@disc.package.name}"
      = link_to package_text, package_path(@disc.package)

  .disc_programs
    = 'No Programs Listed' if @disc.disc_programs.empty?
    - @disc.disc_programs.each do |dp|
      .program
        %span.name
          = link_to program_capsule_year(dp.program), program_path(dp.program)
        - unless dp.program.version.blank?
          %span.version
            = "(#{dp.program.version})"
        %span.type
          = dp.program_type

  - if @disc.series_discs.any?
    .series_discs
      - @disc.series_discs.each do |sd|
        .series
          %span.name
            = link_to sd.series.name, series_path(sd.series)
.footer-links
  = link_to "Disc List", discs_url(page: @page, search: @search), {class: 'btn btn-primary'}
  - if @allow_new
    = link_to 'New Disc', new_disc_url, {class: 'btn btn-secondary'}
  = link_to "Edit", edit_disc_path(@disc, page: @page, search: @search), {class: 'btn btn-secondary'}