.program-fields
  %span.form-group.space-left
    = f.hidden_field :id
    = f.hidden_field :name, class: 'name'
    = f.hidden_field :sort_name, class: 'sort_name'
    = f.hidden_field :year, class: 'year'
    - p_id = form_tag_id(f.object_name, :id)
    - pl_id = "#{p_id}_link"
    %span{id: pl_id}
      - if f.object.id.nil?
        = f.text_field :version
        = link_to 'Select program', program_selector_path(pl_id, p_id),  {remote: true, 'data-toggle':  'modal', 'data-target': '#modal-window'}
      - else 
        = "#{f.object.name} #{f.object.version}"