%h1 Edit Cluster

.program_version_cluster
  = form_with model: @program_version_cluster, url: program_version_cluster_path(@program_version_cluster.id, method: 'patch', page: @page), id: 'form' do |f|
    #programs.programs
      = f.fields_for :programs do |p_form|
        = render partial: 'program_fields', locals: {f: p_form}
      .links
        = link_to_add_association 'Add Program', f, :programs
    .controls
      = link_to 'Update', "", {onclick: "$('#form').submit()", class: 'btn btn-primary'}
      = link_to "Cancel", program_version_clusters_url(page: @page), {class: 'btn btn-secondary'}

#modal-window.modal.hide{ role: 'dialog', 'aria-labelledby': 'myModalLabel', 'aria-hidden': 'true' }

- if @program_version_cluster.errors.any?
  #error_explanation
    %h2
      = pluralize(@program_version_cluster.errors.count, "error") 
      prohibited this program from being saved:
 
    %ul
      - @program_version_cluster.errors.full_messages.each do |msg|
        %li= msg