%h1 Program Version Cluster

- progs = @program_version_cluster.programs
- if progs.any?
  .program_version_cluster
    .titles
      .main_title
        = progs.first.name
        - unless progs.first.blank?
          = "(#{progs.first.year})"

    - if progs.first.persons.any?
      .persons
        .label
          = 'Person'.pluralize(progs.first.persons.count)
        .values
          = raw progs.first.persons.map{|d| link_to d.name, person_path(d)}.join(', ')

    .versions
      .label
        Versions
      .values
        = raw progs.map{|p| link_to p.version, program_path(p)}.join(', ')
  
.footer-links
  = link_to "Cluster List", program_version_clusters_url(page: @page), {class: 'btn btn-primary'}
  = link_to "Edit", edit_program_version_cluster_path(@program_version_cluster, page: @page), {class: 'btn btn-secondary'}