%h1 Program Version Cluster

- progs = @program_version_cluster.programs
- if progs.any?
  .program_version_cluster
    .titles
      .main_title
        = progs.first.name
        - unless progs.first.blank?
          = "(#{progs.first.year})"

    - if progs.first.directors.any?
      .directors
        .label
          = 'Director'.pluralize(progs.first.directors.count)
        .values
          = raw progs.first.directors.map{|d| "#{d.name} #{link_to show_icon, director_path(d)}"}.join(', ')

    .program_info
      = raw progs.map{|p| "#{p.version} #{link_to show_icon, program_path(p)}"}.join(', ')
  
.footer-links
  = link_to "Cluster List", program_version_clusters_url(page: @page), {class: 'btn btn-primary'}
  = link_to "Edit", edit_program_version_cluster_path(@program_version_cluster, page: @page), {class: 'btn btn-secondary'}