.top_pager
  = will_paginate series

.index-entries
  - series.each do |ser|
    .index-entry
      .controls
        %span
          = link_to "show", series_path(ser, page: @page, search: @search)
        %span
          = link_to "edit", edit_series_path(ser, page: @page, search: @search)
        %span
          = link_to 'destroy', series_path(ser), method: :delete,  class: 'caution', data: {confirm: "Delete #{ser.name}?"}
      .index-entry-details
        = ser.name

.bottom_pager
  = will_paginate series