%h1 Edit Series

.series
  = form_with model: @series, url: series_path(@series.id), method: "patch", id: 'form' do |f|
    .series_fields
      .form-group
        = f.text_field :name
        = f.label :name
    = f.fields_for :series_programs, @series.series_programs.sort_by {|sp| sp.sequence.nil? ? 0 : sp.sequence} do |sp_form|
      .program
        = sp_form.hidden_field :program_id
        .form-group
          = sp_form.label :sequence
          = sp_form.number_field :sequence, in: 1..500, step: 1
          %span.program_name
            = sp_form.object.program.name
    .controls
      = link_to 'Update', "", {onclick: "$('#form').submit()", class: 'btn btn-primary'}
      = link_to "Cancel", series_index_url, {class: 'btn btn-secondary'}

- if @series.errors.any?
  #error_explanation
    %h2
      = pluralize(@series.errors.count, "error") 
      prohibited this series from being saved:
 
    %ul
      - @series.errors.full_messages.each do |msg|
        %li= msg