%h1 Edit Series

= form_with model: @series, url: series_path(@series.id), method: "patch" do |f|
  = f.label :name
  = f.text_field :name
  = f.fields_for :series_programs, @series.series_programs.sort_by {|sp| sp.sequence.nil? ? 0 : sp.sequence} do |sp_form|
    .program
      = sp_form.hidden_field :program_id
      = sp_form.object.program.name
      = sp_form.label :sequence
      = sp_form.number_field :sequence, in: 1..500, step: 1
  = f.submit "Edit"

- if @series.errors.any?
  #error_explanation
    %h2
      = pluralize(@series.errors.count, "error") 
      prohibited this series from being saved:
 
    %ul
      - @series.errors.full_messages.each do |msg|
        %li= msg