%h1 Edit Series

.series
  = form_with model: @series, url: series_path(@series.id, page: @page, search: @search), method: "patch", id: 'form' do |f|
    .series_fields
      .form-group
        = f.text_field :name
        = f.label :name
    .series_capsules
      = f.fields_for :series_programs, @series.series_programs.sort_by {|sp| sp.safe_sequence} do |sp_form|
        .series_capsule{style: "order: #{sp_form.object.sequence}"}
          = sp_form.hidden_field :program_id
          .form-group
            = sp_form.label :sequence
            = sp_form.number_field :sequence, in: 1..500, step: 1
            %span.capsule_name
              = sp_form.object.program.name
            %span.caution.space-left
              = link_to_remove_association destroy_icon, sp_form, { wrapper_class: 'series_capsule' }
      = f.fields_for :series_discs, @series.series_discs.sort_by {|sd| sd.safe_sequence} do |sd_form|
        .series_capsule{style: "order: #{sd_form.object.sequence}"}
          = sd_form.hidden_field :disc_id
          .form-group
            = sd_form.label :sequence
            = sd_form.number_field :sequence, in: 1..500, step: 1
            %span.capsule_name
              - ds = DiscsSearch.find(sd_form.object.disc.id)
              = ds.display_title
            %span.caution.space-left
              = link_to_remove_association destroy_icon, sd_form, { wrapper_class: 'series_capsule' }
      = f.fields_for :contained_series_series, @series.contained_series_series.sort_by {|css| css.safe_sequence} do |css_form|
        .series_capsule{style: "order: #{css_form.object.sequence}"}
          = css_form.hidden_field :contained_series_id
          .form-group
            = css_form.label :sequence
            = css_form.number_field :sequence, in: 1..500, step: 1
            %span.capsule_name
              = css_form.object.contained_series.name
            %span.caution.space-left
              = link_to_remove_association destroy_icon, css_form, { wrapper_class: 'series_capsule' }
    #wrapper_series_series.wrapper_series_series
      = f.fields_for :wrapper_series_series do |wss_form|
        = render partial: 'wrapper_series_series_fields', locals: {f: wss_form}
      .links
        = link_to_add_association 'Add Wrapper Series', f, :wrapper_series_series
    .controls
      = link_to 'Update', "", {onclick: "$('#form').submit()", class: 'btn btn-primary'}
      = link_to "Cancel", series_index_url(page: @page, search: @search), {class: 'btn btn-secondary'}
      
#modal-window.modal.hide{ role: 'dialog', 'aria-labelledby': 'myModalLabel', 'aria-hidden': 'true' }

- if @series.errors.any?
  #error_explanation
    %h2
      = pluralize(@series.errors.count, "error") 
      prohibited this series from being saved:
 
    %ul
      - @series.errors.full_messages.each do |msg|
        %li= msg