%h1 Series

.top-controls
  = link_to 'New Series', new_series_url, {class: 'btn btn-primary'}

= will_paginate @series

.index-entries
  - @series.each do |ser|
    .index-entry
      .controls
        %span
          = link_to "show", ser
        %span
          = link_to "edit", edit_series_path(ser)
      .index-entry-details
        = ser.name

= will_paginate @series