%h1 New Series

.series
  = form_with model: @series, id: 'form' do |f|
    .series_fields
      .form-group
        = f.text_field :name, autofocus: true
        = f.label :name
    .controls
      = link_to 'Create', "", {onclick: "$('#form').submit()", class: 'btn btn-primary'}
      = link_to "Cancel", series_index_url, {class: 'btn btn-secondary'}

- if @series.errors.any?
  #error_explanation
    %h2
      = pluralize(@series.errors.count, "error") 
      prohibited this series from being saved:
 
    %ul
      - @series.errors.full_messages.each do |msg|
        %li= msg