%h1 New Series

.series
  = form_with model: @series do |f|
    .series_fields
      .form-group
        = f.text_field :name, autofocus: true
        = f.label :name
    = f.submit "Create"

- if @series.errors.any?
  #error_explanation
    %h2
      = pluralize(@series.errors.count, "error") 
      prohibited this series from being saved:
 
    %ul
      - @series.errors.full_messages.each do |msg|
        %li= msg