%h1 Series

.series
  .name
    = @series.name
  - if @series.series_programs.any?
    .programs
      .label
        = 'Program'.pluralize(@series.series_programs.count)
      .values
        = @series.series_programs.sort_by {|sp| sp.safe_sequence}.map {|sp| capsule_series_program sp}.join(', ')

.footer-links
  = link_to "Series List", series_index_url(page: @page), {class: 'btn btn-primary'}
  = link_to "Edit", edit_series_path(@series, page: @page), {class: 'btn btn-secondary'}