%h1 Series

.series
  .name
    = @series.name
  - if @series.series_programs.any?
    .programs
      .label
        = 'Program'.pluralize(@series.series_programs.count)
      - @series.series_programs.sort_by {|sp| sp.safe_sequence}.each do |sp|
        .program
          = link_to capsule_series_program(sp), program_path(sp.program)
  - if @series.series_series.any?
    .series_series
      .label
        Part of Series
    - @series.series_series.each do |ss|
      .wrapper_series
        = link_to ss.wrapper_series.name, series_path(ss.wrapper_series)
  - if @series.wrapper_series_series_series.any?
    .wrapper_series
      .label
        Contains Series
    - @series.wrapper_series_series_series.each do |ws|
      .wrapped_series
        = link_to ws.contained_series.name, series_path(ws.contained_series.id)

.footer-links
  = link_to "Series List", series_index_url(page: @page, search: @search), {class: 'btn btn-primary'}
  = link_to "Edit", edit_series_path(@series, page: @page, search: @search), {class: 'btn btn-secondary'}