.top_pager
  = will_paginate locations

.index-entries
  - locations.each do |loc|
    .index-entry
      .controls
        %span
          = link_to 'show', location_path(loc, page: @page)
        %span
          = link_to 'edit', edit_location_path(loc, page: @page)
      .index-entry-details
        = "#{loc.name} (#{loc.discs.count})"

.bottom_pager        
  = will_paginate locations