.top_pager
  = will_paginate locations

.index-entries
  - locations.each do |loc|
    .index-entry
      .controls
        %span
          = link_to show_icon, location_path(loc, page: @page, search: @search), title: 'show'
        %span
          = link_to edit_icon, edit_location_path(loc, page: @page, search: @search), title: 'edit'
      .index-entry-details
        - filled = loc.filled ? ' [FILLED]' : ''
        = "#{loc.name} (#{loc.discs.count})#{filled}"

.bottom_pager        
  = will_paginate locations