%h1 Edit Location

.location
  = form_with model: @location, url: location_path(@location.id), method: "patch" do |f|
    .form-group
      = f.text_field :name
      = f.label :name
    = f.submit "Edit"

- if @location.errors.any?
  #error_explanation
    %h2
      = pluralize(@location.errors.count, "error") 
      prohibited this location from being saved:
 
    %ul
      - @location.errors.full_messages.each do |msg|
        %li= msg