%h1 Edit Location

.location
  = form_with model: @location, url: location_path(@location.id, page: @page), method: "patch", id: 'form' do |f|
    .form-group
      = f.text_field :name, autofocus: true
      = f.label :name
    .controls
      = link_to 'Update', "", {onclick: "$('#form').submit()", class: 'btn btn-primary'}
      = link_to "Cancel", locations_url(page: @page), {class: 'btn btn-secondary'}

- if @location.errors.any?
  #error_explanation
    %h2
      = pluralize(@location.errors.count, "error") 
      prohibited this location from being saved:
 
    %ul
      - @location.errors.full_messages.each do |msg|
        %li= msg