%h1 New Location

.location
  = form_with model: @location, id: 'form' do |f|
    .location_fields
      .form-group
        = f.text_field :name, autofocus: true
        = f.label :name
    .controls
      = link_to 'Create', "", {onclick: "$('#form').submit()", class: 'btn btn-primary'}
      = link_to "Cancel", locations_url, {class: 'btn btn-secondary'}

- if @location.errors.any?
  #error_explanation
    %h2
      = pluralize(@location.errors.count, "error") 
      prohibited this location from being saved:
 
    %ul
      - @location.errors.full_messages.each do |msg|
        %li= msg