%h1 Location

.location
  .name
    = @location.name

  - if @location.discs.any?
    .discs
      -@location.discs.sort_by { |d| d.title_sort_value }.each do |disc|
        .disc
          = disc.display_name
          (#{link_to 'show', disc_path(disc)})

.footer-links
  = link_to "Location List", locations_url(page: @page), {class: 'btn btn-primary'}
  = link_to "Edit", edit_location_path(@location, page: @page), {class: 'btn btn-secondary'}