!!! 5
%html
  %head
    %title Programtracker
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true

  %body
    .navbar
      = link_to 'Programs', programs_path
      = link_to 'Discs', discs_path
      = link_to 'Directors', directors_path
      = link_to 'Packages', packages_path
      = link_to 'Series', series_index_path
      = link_to 'Program Clusters', program_version_clusters_path
      = link_to 'Locations', locations_path
    .content
      = yield
